<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/a5bbb14968.js" crossorigin="anonymous"></script>
</head>
<body>
    {% if request.user.is_authenticated %}
    <a href="{% url 'logout page' %}">SignOut</a>
    {% else %}
    <a href="{% url 'login page' %}">SignIn</a>
    <a href="{% url 'create user page' %}">SignUp</a>
    {% endif %}
    
   
    <a href="{% url 'details page' request.user.pk %}">Details Logged User</a>
    
       
    
    <div style='border: 1px solid blue; width: 650px; margin: 20px 10px;'>
        
            
                <p>Created on {{current_post.created_on}}</p>
                <p>by {{current_post.to_user.pk}} user</p>
                <p>{{current_post.text}}</p>
                {% if current_post.image %}
                <img src="{{current_post.image.url}}" alt="">
                {% endif %}
                <div>
                    <p>Likes {{current_post.total_likes}}</p>
                    <a href="{% url 'like' current_post.pk%}"><i class="fa-regular fa-heart"></i></a>
                </div>
                <a href="{% url 'post edit page' current_post.pk%}" style='padding-right: 40px;'>Edit</a><a href="{% url 'post delete page' current_post.pk %}">Delete</a>
                <div>
                    <form action="{% url 'details and comment page' current_post.pk%}" method='post'>
                        <h3>Comment...</h3>
                        {% for field in form %}
                            <p>{{field}}</p>
                        {% endfor %}
                        {% csrf_token %}
                        <button>Submit Comment</button>
                    </form>
                    
                </div>
                
            <hr>
            

       

    </div>
   
</body>
</html>