{% extends 'base-login-register.html' %}
{% block form-content %}
            <h1>Login</h1>
           
            
          
            {% for field in form  %}
            <div class="input-box">
                {{field.errors}}
                {{field}}
            </div>
            
            {% endfor %}

            <button class="btn">Login</button>
            <div class="forgot">
                <a href="#">Forgot password?</a>
            </div>

            
            <div class="register-link">
                <p>Don't have an account? <a href="{% url 'create user page' %}">Register now</a></p>
                
            </div>
            {% csrf_token %}
{% endblock %}